
html,body {
    background-color: powderblue;
    padding: 10px;
}

.container-mine {
    background-color: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  180px 120px 90px 80px 80px 80px 80px 80px 80px 50px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "d d d d d d d d d d d d"
        "t t . b b b b b b b . ."
        "t t . b b b b b b b . ." 
        "t t . b b b b b b b . ."
        "t t . b b b b b b b . ."
        "t t . b b b b b b b . ."
        "t t . b b b b b b b . ."
        "t t . b b b b b b b . ."
        "f f f f f f f f f f f f";
}

header {
    background-color: lightgreen;
    grid-area: h;
    height: 100%;
    display: table;
    text-align: center;
}

h1 {
    display: table-cell;
    vertical-align: middle;
}

.display-4 {
    font-size: 35px;
}

.description {
    background-color: lightslategrey;
    grid-area: d;
    height: 100%;
    display: table;
    text-align: center;
}

.turn {
    background-color: lightseagreen;
    grid-area: t;
    text-align: center;
}

.turn h2 {
    padding-top: 50px;
    padding-bottom: 25px;
}

.red-piece {
    height: 80px;
    width: 80px;
    background-color: #FF3333 ;
    border-radius: 50%;
    border-style: ridge;
    border-width: 5px;
    border-color: #990000;
    background-image:     url("https://www.transparenttextures.com/patterns/dark-exa.png");
    display: inline-block;
  }
  
  .yellow-piece {
    height: 80px;
    width: 80px;
    background-color: #FFFF33;
    border-radius: 50%;
    border-style: ridge;
    border-width: 5px;
    border-color: #FFFF00;
    background-image:     url("https://www.transparenttextures.com/patterns/dark-exa.png");
    display: inline-block;
  }

.board {
    background-color: palegoldenrod;
    grid-area: b;
}

table {
    width: 100%;
    height: 95%;
}

tr {
    border: 1px solid black;
}

.firstrow {
    border-top: none;
}

.play-buttons {
    border: none;
}

.play-buttons th {
    border: none;
    text-align: center;
}

th {
    border-right: 1px solid black;
}

footer {
    background-color: yellowgreen;
    grid-area: f;
}